<div class="py-2 flex justify-center">
  <div class="px-4">
      <a href="tel:{{user.phone}}" class="text-xl text-indigo-50 hover:no-underline hover:text-indigo-200"><i class="fa-solid fa-mobile-screen-button px-1 text-blue-300 text-2xl"></i>{{user.phone}}</a>
  </div>
  <div class="px-4">
      <a href="mailto:{{user.email}}" class="text-xl text-indigo-50 hover:no-underline hover:text-indigo-200"><i class="fas fa-paper-plane px-2 text-blue-300"></i>{{user.email}}</a>
  </div>
</div>