<section>
    <h2>Create New Post</h2>

    <form id="new-pet-form">
        <div>
            <label for="pet_name">Name</label>
            <input type="text" id="pet-name" name="pet-name"/>
        </div>
        <div>
            <label for="species">Species</label>
            <input id="species" name="species"/>

            <label for="breed">Breed</label>
            <input id="breed" name="breed"/>

            <label for="size">Size</label>
            <input id="size" name="size"/>

            <label for="age">Age</label>
            <input id="age" name="age"/>

            <label for="bio">Bio</label>
            <textarea id="bio" name="age"></textarea>
        </div>
        <div class="js-upload uk-placeholder uk-text-center bg-gradient-to-r from-violet-600 to-indigo-700 text-indigo-50">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Attach binaries by dropping them here or</span>
            <div uk-form-custom>
                <form encType="multipart/form-data" action="">
                    <input id="img-input" type="file" multiple />
                </form>
                <span class="uk-link text-sky-500">selecting one</span>
            </div>
        </div>

<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

        <button type="submit" class="">Create</button>
    </form>
</section>

{{#if pets.length}}
<section>
    <h2>Your Listed Pets</h2>
    <ol>
        {{#each pets as |pet|}}
        <li>
            {{> pet-info pet}}
            <a href="/dashboard/edit/{{pet.id}}" class="">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-pet.js"></script>
<script src="/javascript/convertAPI.js"></script>
