<section class="uk-flex uk-flex-center">
    
    <div>
    <form class="" id="new-pet-form">
        
        <div class="input-padding form-background uk-margin-small-top">

            <div>
    <h2 class="uk-text-large uk-text-muted">Create New Post</h2>
    </div>

            <div class="">
            <label for="pet_name"></label>
            <input class="dashboard-inputs" type="text" placeholder="Pet Name" id="pet-name" name="pet-name"/>
            </div>    

            <div>
            <span id="species-select">
                <label for="species">Species</label>
                <select name="species" id="species">
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="other">Other</option>
                </select>
            </span>
            {{!-- <input class="dashboard-inputs" placeholder="Species" id="species" name="species"/> --}}
            </div>
            
            <div class="uk-margin-small-top">
            <label for="breed"></label>
            <input class="dashboard-inputs" placeholder="Breed" id="breed" name="breed"/>
            </div>
            
            <div class="uk-margin-small-top">
            <label for="size"></label>
            <input class="dashboard-inputs" placeholder="Size" id="size" name="size"/>
            </div>
            
            <div class="uk-margin-small-top">
            <label for="age"></label>
            <input class="dashboard-inputs" placeholder="Age" id="age" name="age"/>
            </div>
            
            <div class="uk-margin-small-top">
            <label for="pic_filename"></label>
            <input class="dashboard-inputs" placeholder="Image URL" id="pic_filename" name="pic_filename"/>
            </div>

            <div class="uk-margin-small-top">
            <label for="bio"></label>
            <textarea class="dashboard-inputs" placeholder="Bio" id="bio" name="age"></textarea>
            </div>

            <button class="uk-button uk-button-secondary uk-width-1-1" type="submit" class="">Create</button>
        </div>
        
        
    </form>
    </div>
</section>

{{#if pets.length}}
<section>
    <h2>Your Listed Pets</h2>
    <ol>
        {{#each pets as |pet|}}
        <li>
            {{> pet-info pet}}
            <a href="/dashboard/edit/{{pet.id}}" class="">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-pet.js"></script>