{{> pet-info pet}}

{{#if loggedIn}}
<form id="comment-form">
    <div>
        <textarea id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" id="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{> comments pet.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}