:root {
    background-color: #4c1d95;
}

.form-background {
    background-color: #3f1d71;
}


.dashboard-inputs, .login-inputs {
display: block;
margin-bottom: 20px;
padding: 5px;
border-radius: 4px;
}

.input-padding {
    padding: 5px;
    /* border-radius: 4px; */
    
}

.heart-icon {
    position: relative;
    left: 695px;
    bottom: 65px

}

.selector-sizing {
    width: 190px;
    
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}



@media only screen and (max-width: 844) {
    .heart-icon {
        position: relative;
        left: 200px;
        bottom: 65px
    
    }
}

